html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5%;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}
#controller-container {
  width: 100%;
  margin-bottom: 5%;
  padding: 0;
  text-align: center;
}
#dragging-overlay:not(.activate) {
  display: none;
}
#dragging-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  color: white;
  width: 480px;
  height: 642px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* z-index で手前に持ってきているためこれがないと drop した時のイベントを受け取ってしまう
   * (#board に渡したい)
   */
  pointer-events: none;
}
#board-container {
  position: relative;
  width: 100%;
  height: 70%;
  margin-bottom: 5%;
  padding: 0;
  text-align: center;
}
#board {
  z-index: 1;
}
#run-container {
  width: 100%;
  padding: 0;
  text-align: center;
}
#run, #download {
  text-decoration: none;
  border-style: none;
  font-size: 4vh;
  width: 60%;
  background: #F4A460;
  color: #FFF;
}
#reload {
  text-decoration: none;
  font-size: 2vh;
  margin-top: 10%;
}
#top-img {
  width: 90%;
  margin-top: 20%;
  margin-bottom: 10%;
}
#version {
  text-align: center;
}